<nav>
	<a class="navLink <% if(current===0){%>	<%='current'%> 	<%}%>" href="/">Home</a>
	<a class="navLink <% if(current===1){%>	<%='current'%> 	<%}%>" href="/lists">My Lists</a>
	<a class="navLink <% if(current===2){%>	<%='current'%> 	<%}%>" href="/lists/new">New List</a>
</nav>