<%- include("partials/head", {title:"Lister"}) %>
<%- include("partials/navbar", {current:0}) %>
<main>
	<section class='para'>
		<h3>Lister</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, cumque eveniet at quia temporibus eius! Iusto, optio, blanditiis, ut nihil voluptatibus veritatis sapiente ex sequi tempora libero odit voluptas nulla?</p>
		<div class='btnContainer'>
			<button class='green'>Log In</button>
			<button class='red'>Sign Up</button>
		</div>
	</section>
	<section class='para'>
		<img src="https://cdn.pixabay.com/photo/2017/06/10/07/18/list-2389219_960_720.png" alt="LISTER">
		<div class='testimonial'>
			<p>"The best app of its kind"</p>
			<p>★★★★★</p>
			<p>A Reviewer</p>
		</div>
	</section>
</main>
</body>
</html>